@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
body{
    background: #1c1c1c;
    background-size: cover;
    background-repeat: no-repeat;    
}

.header {
  background: rgb(58, 146, 248);
  font-size: 12px;
  padding: 1rem;
}

.header a {
  color: #ffffff;
  margin-left: 130px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #000000;
  height: 85px;
}
.logo{
  margin-top: 30px;
}
.nav_links a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: .5rem 1.5rem;
  font-size: .95rem;
}
.btn button {
  font-weight: 700;
  color: #6140ad;
  padding: 9px 25px;
  background: #ffffff;
  border-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.1s ease 0s;
}

.btn button:hover {
  background-color: #6140ad;
  color: #ffffff;
  transform: scale(1.1);
}

.btn1 button {
  font-weight: 700;
  color: #6140ad;
  padding: 9px 25px;
  background: #ffffff;
  border-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.1s ease 0s;
}

.btn1 button:hover {
  background-color: #6140ad;
  color: #ffffff;
  transform: scale(1.1);
}

.line {
  display: inline-block;
  width: 1px;
  height: 1rem;
  background-color: #fff;
}

a:hover,
a:hover i {
  color: #6140ad;
}



.container .container-text{
  display: flex;
  text-align: left;
}
.container .container-text p{
  color: #ffffff;
  justify-content: center;

}
.container-cards{
   display: flex;
   justify-content:space-between;
   color: #fff;
   gap: 20px;
   height: 100vh;
   padding-top: 40px;
   margin-right: 100px;
   margin-left: 100px;
}
.container .plan1{
  font-size: 40px;
   background-color: #3c3a3a;
   border-radius: 10px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
   padding: 20px;
   margin-bottom: 20px;
   width: 300px;
   justify-content: center;
   height: 350px;  
}
.container .plan2{
  background-color: #3c3a3a;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 300px;
  justify-content: center;
  height: 350px;  
}.container .plan3{
  background-color: #3c3a3a;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 300px;
  justify-content: center;
  height: 350px;  
}.container .plan4{
  background-color: #3c3a3a;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 300px;
  justify-content: center;
  height: 350px;  
}
.container .plan10{
  background-color: #3c3a3a;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 280px;
  justify-content: center;
  height: 280px;  
}

.container button{
  margin-left: 20px;
  font-weight: 700;
  color: #6140ad;
  padding: 9px 25px;
  background: #ffffff;
  border-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.1s ease 0s;  
}
.container button:hover{
  background-color:#6140ad;
  color: #ffffff;
  transform: scale(1.1);
}
body.container.plan1 h2{
   text-decoration-color: #988bbb;
}

footer {
  position: relative;
  background-color: #000;
  min-height: 60vh;
  width: 100%;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 4fr 1fr;
  place-items: center;
  align-items: flex-start;
}

footer * {
  text-decoration: none;
  color: #fff;
}

footer h5 {
  opacity: .4;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .05rem;
}

.web_links_container {
  display: flex;
}

img {
  display: flex;

}

.web_links {
  margin-left: 3rem;
  display: flex;
  align-items: flex-start;
  column-gap: 3rem;
}

.web_links>div {
  display: flex;
  flex-direction: column;
}

.web_links a,
.web_links h5 {
  margin: .5rem 0;
  font-size: .9rem;
}

.social_links {
  display: flex;
  margin-right: 10rem;
}

.social_links a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #222326;
  border-radius: 50%;
  margin: 0 .5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.other_links,
.copyright {
  opacity: .5;
  font-size: .7rem;
  margin-top: 6rem;
}

.other_links a {
  margin: 0 .5rem;
}

.copyright {
  margin-top: 4rem;
  text-align: right;
}

.copyright a {
  display: block;
  margin-bottom: .5rem;
}