@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
body{
    background: #1c1c1c;
    background-size: cover;
    background-repeat: no-repeat;    
}
.header{
    background: rgb(58, 146, 248);
    padding: 1rem;
}
.header .link{
    color: #ffffff;
    font-size: 13px;
}

.nav{
    background: #3a3939;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
.logo-melodify{
    display: inline-block;
    cursor: pointer;
}
.nav .logo{
    cursor: pointer;
    margin-right: auto;
    margin-top: 40px;
}
.nav .logo img{
    padding: 20px;
    height: 200px;
    width: 200px;
}
.nav {
    color: #ffffff;
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 10px 20px;
}
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: #3a3939;
}
.nav-links li {
    margin-right: 20px;
}
.nav .nav-links a{
    font-size: 700;
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.nav .nav-links a:hover{
    color: #6041AD;
}
.nav .nav-links .optn:hover{
    color: #6041AD;
}
.optn{
    cursor: pointer;
    border-style: none;
    color: #ffffff;
}
.header.nav-links li a:hover{
    color:rgb(255, 255, 255);
}

.header .logo img{
   width: 170px;
  height: 170px;

  transition: all 0.2s;
}
.header .logo img:hover{
  transform: scale(1.1);
}

.nav-links {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-links li {


  margin-right: 20px;
}
.header.nav-links li:hover{
  transform: scale(1.1);
  
}
.header .nav-links a{
  font-size: 700;
  color:rgb(255, 255, 255);
  text-decoration: none;
}
.optn{
  background-color: #3a3939;;
  border-style: none;
  color: #ffffff;
}
.optn1{
  background-color: #000000;
  border-style: none;
  color: #ffffff;
}
.header.nav-links li a:hover{
  color:rgb(255, 255, 255);
}
.btn button{
  margin-left: 20px;
  font-weight: 700;
  color: #6140ad;
  padding: 9px 25px;
  background: #ffffff;
  border-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.1s ease 0s;
}
.btn button:hover{
  background-color:#6140ad;
  color: #ffffff;
  transform: scale(1.1);
}

.btn1 button {
  margin-left: 20px;
  font-weight: 700;
  color: #6140ad;
  padding: 9px 25px;
  background: #ffffff;
  border-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.1s ease 0s;
}

.btn1 button:hover {
  background-color: #6140ad;
  color: #ffffff;
  transform: scale(1.1);
}


.container .container-text{
  display: flex;
  text-align: left;
}
.container .container-text p{
  color: #ffffff;
  justify-content: center;

}
.container-cards{
   display: flex;
   justify-content:space-between;
   color: #fff;
   gap: 20px;
   height: 100vh;
   padding-top: 40px;
   margin-right: 100px;
   margin-left: 100px;
}
.container .plan1{
  font-size: 40px;
   background-color: #3c3a3a;
   border-radius: 10px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
   padding: 20px;
   margin-bottom: 20px;
   width: 300px;
   justify-content: center;
   height: 350px;  
}
.container .plan2{
  background-color: #3c3a3a;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 300px;
  justify-content: center;
  height: 350px;  
}.container .plan3{
  background-color: #3c3a3a;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 300px;
  justify-content: center;
  height: 350px;  
}.container .plan4{
  background-color: #3c3a3a;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 300px;
  justify-content: center;
  height: 350px;  
}
.container .plan10{
  background-color: #3c3a3a;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 280px;
  justify-content: center;
  height: 280px;  
}

.container button{
  margin-left: 20px;
  font-weight: 700;
  color: #6140ad;
  padding: 9px 25px;
  background: #ffffff;
  border-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.1s ease 0s;  
}
.container button:hover{
  background-color:#6140ad;
  color: #ffffff;
  transform: scale(1.1);
}
body.container.plan1 h2{
   text-decoration-color: #988bbb;
}
.footer{
   background-color: #262728;
   color: #ffffff;
   text-align: center;
   padding: 1rem 0;
  
}
