@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family:poop ;
}
.header {
    background: rgb(58, 146, 248);
    font-size: 12px;
    padding: 1rem;
}

.header a {
    color: #ffffff;
    margin-left: 130px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #000000;
    height: 85px;
}
.logo{
    margin-top: 30px;
}
.nav_links a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: .5rem 1.5rem;
    font-size: .95rem;
    font-family:'Poppins', sans-serif;
}
.btn button {
    font-weight: 700;
    color: #6140ad;
    padding: 9px 25px;
    background: #ffffff;
    border-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
    font-family:'Poppins', sans-serif;
}

.btn button:hover {
    background-color: #6140ad;
    color: #ffffff;
    transform: scale(1.1);
}

.btn1 button {
    font-weight: 700;
    color: #6140ad;
    padding: 9px 25px;
    background: #ffffff;
    border-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
    font-family:'Poppins', sans-serif;
}

.btn1 button:hover {
    background-color: #6140ad;
    color: #ffffff;
    transform: scale(1.1);
}

.line {
    display: inline-block;
    width: 1px;
    height: 1rem;
    background-color: #fff;
}

a:hover,
a:hover i {
    color: #6140ad;
}


section {
    background: linear-gradient(#6140ad,#000000 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

section div.main{
    margin: 32px 0;
    padding: 32px;
    width: 734px;
    height: 910px;
    background: #000;
    border-radius: 5px;

}

section div.main h1 {
    text-align: center;
    margin: 48px 0;
    color: white;
    font-size: 48px;
    font-family:'Poppins', sans-serif;
}
section div.main h2 {
    text-align: center;
    margin: 48px 0;
    color: white;
    font-size: 17px;
    font-family:'Poppins', sans-serif;
    margin-top: 20px;
}
section div.main .account-connect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
 

section div.main .account-connect button{
    width: 324px;
    text-align: center;
    padding: 10px 20px;
    border: none;
    outline: none;
    margin: 5px 0;
    border-radius: 500px;
    color: white;
    background: transparent;
    border: 1px solid #878787;
    font-size: 15px;
    font-weight: bold;
    font-family:'Poppins', sans-serif;
}


section div.main .account-connect button img{
    width: 23px;
    float: left;
    margin: 0 10px;
}

section div.main .account-connect span {
    position: relative;
    top: 3px;
}

section div.main hr{
    margin: 32px 100px;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid rgb(41, 41, 41);
}

section div.main .log-in form label{
    color: white;
    font-size: 14px;
    margin-bottom: 8px;
    display: inline-block;
    font-family:'Poppins', sans-serif;
}

section div.main .log-in form input{
    display: block;
    padding: 14px;
    width: 300px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
    background: rgb(18, 18, 18);
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #878787;
    color: white;
    font-family:'Poppins', sans-serif;
}

.switch{
    margin: 0;
    width: 0;
}

.switch input[type=checked] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch label{
    margin: 10px 0px 20px 0px;
    cursor: pointer;
    padding: 3px;
    width: 32px;
    height: 16px;
    background: #727272;
    display: block;
    border-radius: 50em;
    position: relative;
    transition: .1s;
    box-sizing: border-box;
}

.switch label::after{
    content: '';
    position: absolute;
    width: 11px;
    height: 10px;
    background: black;
    border-radius: 50em;
    transition: .1s;
}

.switch input:active+label {
    background-color: #727272;
}

.switch input:checked+label {
    background: #1ed760;
}

.switch input:checked+label::after {
    transform: translateX(calc(100% 
    + 5px));
}

input#switch { 
    display: none;
}

.log-in .btn button{
    margin-top: -20rem;
    margin-left: 15px;
    font-weight: 700;
    color: #6140ad;
    padding: 9px 25px;
    background: #ffffff;
    border-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
    font-family:'Poppins', sans-serif;
 }
 .log-in .btn button:hover{
    background-color:#6140ad;
    color: #ffffff;
    transform: scale(1.1);
 }










