@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
body{
    background: #000000;
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;    
}
.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
.img1{
    display: block;
    position: relative;
    float: left;
    max-width:0 4000px 0 4000px;
    margin-right: 0;
    padding: 100px;
}
.logo-melodify{
    color: #ffffff;
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
}
.header .logo{
    cursor: pointer;
    margin-right: auto;
}
.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.2s;
}
.header .logo img:hover{
    transform: scale(1.1);
}
.navbar {
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
}
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-links li {
    margin-right: 20px;
}
.header.nav-links li:hover{
    transform: scale(1.1);
}
.header .nav-links a{
    font-size: 700;
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.optn{
    background-color: #000000;
    border-style: none;
    color: #ffffff;
}
.optn1{
    background-color: #000000;
    border-style: none;
    color: #ffffff;
}
.header.nav-links li a:hover{
    color:rgb(255, 255, 255);
}
.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #6140ad;
    padding: 9px 25px;
    background: #ffffff;
    border-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}
.header .btn button:hover{
    background-color:#6140ad;
    color: #ffffff;
    transform: scale(1.1);
}

.header .btn1 button {
    margin-left: 20px;
    font-weight: 700;
    color: #6140ad;
    padding: 9px 25px;
    background: #ffffff;
    border-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}

.header .btn1 button:hover {
    background-color: #6140ad;
    color: #ffffff;
    transform: scale(1.1);
}
.header-txt1{
    padding: 100px;
}
.txt1{
    position: relative;
    display:flex;
    color: #ffffff;
    margin-right: auto;
    padding-right: 100px;
    width: 50%;
}
#subtitulo{
    font-size: 70px;
    position: absolute;
    top: 0;
    padding: 0 200 0 ;
}
#texto1{
    position: absolute;
    display: flex;
    caption-side: bottom;
    z-index: 1;
    font-size: 30px;
    padding: 200px 0 50px;
}
.txt2{
    display: flex;
    justify-content: left;
    color: #ffffff;
    margin-left: 50px;
}
#texto2{
    padding-right: 50px;
}
#subtitulo3{
    font-size: 40px;
}

.img2{
    margin-right: 50px;
    width: 500px;
    height: 400px;
    float: left;
}
.btn3 button{
    margin-left: 20px;
    font-weight: 700;
    color: #6140ad;
    padding: 9px 25px;
    background: #ffffff;
    border-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}
.btn3 button:hover{
    background-color: #6140ad;
    color: #ffffff;
    transform: scale(1.1);

}
.txt3{
    display: flex;
    justify-content:left;
    z-index: 1;
    color: #ffffff;
    margin-right: 50px;
    padding: 200px 70px;
    margin-bottom: 0;
}
#texto3{
    font-size: 15px;
    margin-bottom: 20px;
}
.option{
    margin-bottom: 25px;
}
.img3{
    margin-right: 50px;
    width: 980px;
    height:700px ;
    float: relative;
}




.txt4{
    display: flex;
    justify-content: left;
    z-index: 1;
    color: #ffffff;
    margin-right: 50px;
    padding: 200px 70px;
    margin-bottom: 0;
}

#texto4{
    font-size: 15px;
    margin-bottom: 20px;
}

.option-4{
    margin-bottom: 25px;
}

.img4{
    margin-right: 50px;
    width: 980px;
    height: 700px;
    float: relative;
}

