@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root{
    --body-color: #919191;
    --sidebar-color: #fff;
    --primary-color: #6041AD;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #2c2c2c;
    --logo: #000000;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
     height: 100vh;
     background: var(--body-color);
     transition: var(--tran-02);
}
.dark {
    --body-color: #000000;
    --sidebar-color: #242526;
    --primary-color: #6041AD;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
    --logo: #ffffff;


}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
}
.sidebar.close{
    width: 137px;
}
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}
.sidebar .text .name{
    font-size: 25px;
    margin-top: -30px;
}

.sidebar.close .text{
    opacity: 0;
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
   

}
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 43px;
    font-size: 20px;
}
.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}
.sidebar header{
    position: relative;
} 

.sidebar .image-text img{
    width: 130px;
    margin-top: -25px;
    border-radius: 5px;
    
}
.sidebar header .image-text{
    display: flex;
    align-items: center;

}
header .image-text .header-text{
    display: flex;
    flex-direction: column;
}
.header-text .name{
    font-weight: 700;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 17px;
    transition: var(--tran-03);
}
.sidebar.close header .toggle{
    
    transform: translateY(-50%);
}
body.dark .sidebar header .toggle{
    transform: rotate(180deg);
    color: var(--text-color);
}

.sidebar .search-box{
    border-radius: 6px;
    background: var(--primary-color-light);
}
.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
    font-family:'Poppins', sans-serif;
   
}
.sidebar li a{
    margin-left: -20%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
    font-family:'Poppins', sans-serif;
   
}
.sidebar li a:hover{
    background: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);

}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--sidebar-color);

}


.bottom-content li{
    margin-left: 16%;
}

.sidebar .menu-bar{
    height: 85%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
    font-family:'Poppins', sans-serif;
   
}
.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i{
    position: absolute;
}
.menu-bar .mode i.sun{
    opacity: 0;
    transition: var(--tran-03);
}
body.dark .menu-bar .mode i.sun{
    opacity: 1;
}
body.dark .menu-bar .mode i.moon{
    opacity: 0;
}
.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    background: var(--primary-color-light);
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}
.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 25px;
}
.name{
    color: var(--logo);
}






.perfil{
  
    float:right;
    margin-bottom:4rem;
    margin-top:-30px;
    text-transform:uppercase;
    font-weight:bold;
   
}
.perfil a{
    text-decoration:none;
    color:white;
    text-align:right;
    font-size:.7rem;
    font-family:'Poppins', sans-serif;
   
}
#upgrade{
    border:1px solid #ffffff;
    padding-left:1.8rem;
    padding-right:1.8rem;
    border-radius:15px;
    padding-top:.5rem;
    padding-bottom:.5rem;
    margin-right:.5rem;
    transition: .3s;
}
#upgrade:hover{
    background-color:var(--primary-color);
}
#profile{
    border:1px solid #ffffff;
    
    padding-left:1.8rem;
    padding-right:1.8rem;
    border-radius:15px;
    padding-top:.5rem;
    padding-bottom:.5rem;
    transition:.3s;
    font-family:'Poppins', sans-serif;
   
}
#profile:hover{
    background-color:var(--primary-color);
}



#featured-content{
    display: flex;
    
    grid-gap: 3rem;
    margin-bottom:rem;
    
}
.artist-card{
    margin-top: 2px;
    margin-left: 180px;
    margin-right: -255px;
    width: 250px;
    height: 150px;
    
}
.artist-card div{
    background-color: #242526;
    border-radius:15px;
    height:12rem;
    width:10rem;
    padding:1rem;
   
}
.artist-card img{
    height:70%;
    width:90%;
    border-radius:50%;
    display:block;
    margin:auto;
}
.play-button{
    
    display:none;
    transition: background-color 1s;
}
.fa-play{
    margin-top: -30px;
}
.artist-card:hover .play-button{
    display:block;
    float:right;
    margin-right:1rem;
    background-color: var(--primary-color);
    border-radius:50%;
    padding:1rem;
    margin-top:-60px;
    cursor:pointer;
    width: 10px;
    height: 10px;
}
.artist-card h3{
    color:white;
   
}
.artist-card p{
    margin-top:-1rem;
    font-size:.9rem;
    color:grey;
}









#tarjetas{
    display: flex;
    
    grid-gap: 3rem;
    margin-bottom:rem;
    margin-top: -80px;
    
}
.artistas{
    margin-top: 70px;
    margin-left: 180px;
    margin-right: -255px;
    width: 250px;
    height: 150px;
    
    transition: background-color 0.3s ease;
    cursor: pointer;
    
}
.artistas div:hover{
    background: #131313;

}

.artistas div{
    background-color: #242526;
    border-radius: 4px;
    height:12rem;
    width:10rem;
    padding:1rem;
    height: 200px;
    
    transition: background-color 0.3s ease;
    cursor: pointer;
   
}
.artistas img{
    height:50%;
    width:90%;
    border-radius: 4px;
    display:block;
    margin:auto;
}
.play-button{
    
    display:none;
    transition: background-color 1s;
}
.fa-play{
    margin-top: -30px;
}

.artistas h3{
    color:white;
}
.artistas p{
    margin-top:-1rem;
    font-size:.9rem;
    color:grey;
}

.titulos{
    color: #ffffff;
    text-align: center;
    margin-right: 910px;
    margin-top: 100px;

}

#titulos1{
    color: #ffffff;
    text-align: center;
    margin-right: 820px;
    margin-top: 100px;
}

.titulos1{
    color: #ffffff;
    text-align: center;
    margin-top: 70px;
    margin-right: 1050px;
}



.banner-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #6140ad;
    color: #fff;
    margin-left: 100px;
    width:95%;
    height:60px;
    gap: 40rem;
    margin-top: 100px;
    margin-right: 300px;
    margin-bottom: 1000px;
    
}

.banner-bottom .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}


.banner-bottom .content p {
    font-size: 1.2rem;
    text-align: center;
    margin-left: 100px;
    
}
#btn-full{
    border:3px solid #ffffff;
    padding-left:1.7rem;
    padding-right:1.7rem;
    border-radius:15px;
    padding-top:.5rem;
    padding-bottom:.5rem;
    margin-right:130px;
    transition: .3s;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#ffffff;
}
#btn-full:hover{
    background-color:#000000;
}



#featured-content1{
    display: flex;
    
    grid-gap: 3rem;
    margin-bottom:rem;
    
}
.artist-card1{
    margin-top: 2px;
    margin-left: 180px;
    margin-right: -255px;
    width: 250px;
    height: 150px;
    
}
.artist-card1 div{
    background-color: #242526;
    border-radius:15px;
    height:12rem;
    width:10rem;
    padding:1rem;
   
}
.artist-card1 img{
    height:70%;
    width:90%;
    
    display:block;
    margin:auto;
}
.play-button1{
    
    display:none;
    transition: background-color 1s;
}
.fa-play1{
    margin-top: -30px;
}
.artist-card1:hover .play-button1{
    display:block;
    float:right;
    margin-right:1rem;
    background-color: var(--primary-color);
    border-radius:50%;
    padding:1rem;
    margin-top:-60px;
    cursor:pointer;
    width: 10px;
    height: 10px;
}
.artist-card1 h3{
    color:white;
}
.artist-card1 p{
    margin-top:-1rem;
    font-size:.9rem;
    color:grey;
}



