@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
body{
    background: #fff;
    background-size: cover;
    background-repeat: no-repeat;    
}
.header{
    background: rgb(58, 146, 248);
    padding: 1rem;
}
.header .link{
    color: #ffffff;
    font-size: 13px;
}

.nav{
    background: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
.logo-melodify{
    display: inline-block;
    cursor: pointer;
}
.nav .logo{
    cursor: pointer;
    margin-right: auto;
    margin-top: 30px;
}
.nav .logo img{
    padding: 20px;
    height: 200px;
    width: 200px;
}
.nav {
    color: #ffffff;
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 10px 20px;
}
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-links li {
    margin-right: 20px;
}
.nav .nav-links a{
    font-size: 700;
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.nav .nav-links a:hover{
    color: #6041AD;
}
.nav .nav-links .optn:hover{
    color: #6041AD;
}
.optn{
    cursor: pointer;
    background-color: #000000;
    border-style: none;
    color: #ffffff;
}
.header.nav-links li a:hover{
    color:rgb(255, 255, 255);
}
.navbar{
    background-color: #b8aed2;
    color: #000;
    padding: 50px 50px;
}
.navbar h2{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-left: 80px;
}
.navbar p{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-left: 60px; 
    padding: 20px;
}

.payment-content {
    padding: 24px 400px 100px;
    position: center;

}

.payment-body {
    background-color: #edededdd;
    border-radius: 10px;
}

.payment-plan {
    display: flex;
    align-items: center;
    padding: 12px;
}
.payment-plan-info {
    width: 100%;
    margin-right: 8px;
    display: grid;
}

.payment-plan-info-price {
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}
.payment-plan-info-price .img{
    margin: center;
}

.payment-plan-change {
    color: #6041AD;
    font-size: 12px;
    font-weight: 600;
    text-underline-offset: 2px;
}

.payment-plan-change:hover {
    color: var(--blue-600);
}
.btn button {
    margin-left: 80rem;
    margin-top: 0;
    color: #000;
    padding: 10px 45px;
    background: #b8aed2;
    border-color: #979393;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}

.btn button:hover {
    background-color: #fff;
    color: #b8aed2;
    transform: scale(1.1);
}

